@model P010Store.Entities.Contact

@{
    ViewData["Title"] = "İletişim";
}

<h1>İletişim</h1>

<div class="row">
    <div class="col-md-4">
        <h4>Bize Mesaj Gönderin</h4>
        <hr />
        <form asp-action="ContactUs" id="iletisim_formu">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Surname" class="control-label"></label>
                <input asp-for="Surname" class="form-control" />
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Phone" class="control-label"></label>
                <input asp-for="Phone" class="form-control" />
                <span asp-validation-for="Phone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Message" class="control-label"></label>

                <textarea asp-for="Message" class="form-control"></textarea>
                <span asp-validation-for="Message" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                @*<input type="submit" value="Gönder" class="btn btn-primary" />*@
                <button type="button" class="btn btn-primary" onclick="iletisim_formu()">Gönder</button>
            </div>
        </form>
        @Html.Raw(TempData["Mesaj"])
    </div>
    <div class="col-md-4">
        <h4>Harita</h4>
        <hr />
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12040.000958790155!2d28.9789395!3d41.0252507!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x44089783d1089f31!2sSiliconmade%20Academy!5e0!3m2!1str!2str!4v1673770297908!5m2!1str!2str" width="100%" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="col-md-4">
        <h4>Bize Ulaşın</h4>
        <hr />
        <p>
            Adres : Kemankeş Karamustafa Paşa, Ali Paşa Değirmeni Sk. No:3, 34560 Beyoğlu/İstanbul
        </p>
        <p>
            Email : <a href="mailto:academy@siliconmade.com">academy@siliconmade.com</a>
        </p>
        <p>
            Telefon : +90 850 272 7454
        </p>
    </div>
</div>

<div id="sonuc" class="alert alert-info" style="display:none"></div>

@section Scripts{
    <script>
        function iletisim_formu() {
            var ad = $("#Name").val();
            var soyad = $("#Surname").val();
            var email = $("#Email").val();
            var telefon = $("#Phone").val();
            var mesaj = $("#Message").val();

            var message = {
                "Name": ad,
                "Surname": soyad,
                "Email": email,
                "Phone": telefon,
                "Message": mesaj
            };

            $.ajax({
                method: "POST",
                url: "/iletisim",
                type: "json",
                data: message,
                success: function(data){
                    console.log(data)
                    document.getElementById("iletisim_formu").reset();
                    $("#sonuc").show().html("Mesajınız Gönderilmiştir.. Teşekkürler..");
                },
                error: function(err){
                    $("#sonuc").show().html("Mesajınız Gönderilemedi!");
                }
            });

        }
    </script>
}