@model HomePageViewModel

@{
    ViewData["Title"] = "Anasayfa";
}

<partial name="_Carousel" model="Model.Carousels" />

@section Scripts{
    <script>
        $(".carousel-item:first").addClass("active")
        $(".carousel-indicators button:first").addClass("active")
    </script>
}

<!-- Header-->
<header class="bg-dark py-3 mt-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">Ürünlerimiz</h1>
            <p class="lead fw-normal text-white-50 mb-0">Sizin için seçtiklerimiz</p>
        </div>
    </div>
</header>

<partial name="_Products" model="Model.Products" />