@model IEnumerable<Category>

@{
    foreach (var item in Model)
    {
        <li class="nav-item"><a class="nav-link active" href="/@item.Name.ToLower()/Categories/Index/@item.Id">@item.Name</a></li>
    }
}
