@model Product

@{
    ViewData["Title"] = "Ürün Ekle";
}

<h1>Ürün Ekle</h1>

<h4>Ürün Bilgileri</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" type="file" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsHome" /> @Html.DisplayNameFor(model => model.IsHome)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Price" class="control-label"></label>
                <input asp-for="Price" class="form-control" />
                <span asp-validation-for="Price" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stock" class="control-label"></label>
                <input asp-for="Stock" class="form-control" />
                <span asp-validation-for="Stock" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CategoryId" class="control-label"></label>
                <div class="d-flex">
                    <select asp-for="CategoryId" class="form-select" asp-items="ViewBag.CategoryId"></select>
                    <button type="button" onclick="kEkle()" class="btn btn-outline-success col-md-1">+</button>
                </div>
            </div>
            <div class="form-group">
                <label asp-for="BrandId" class="control-label"></label>
                <div class="d-flex">
                    <select asp-for="BrandId" class="form-select" asp-items="ViewBag.BrandId"></select>
                    <button type="button" onclick="bEkle()" value="+" class="btn btn-outline-success col-md-1">+</button>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Ekle" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Listeye Dön</a>
</div>

<div class="modal fade bd-example-modal-lg" id="kategoriModal" tabindex="-1" role="dialog" aria-labelledby="myModal" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-autoheight" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myNodal">Kategori Ekle</h5>
            </div>
            <div class="modal-body">
                <form asp-action="Create2" asp-controller="Categories" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group my-2">
                        <label class="control-label">Kategori Adı</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group my-2">
                        <label asp-for="Description" class="control-label"></label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group my-2">
                        <label asp-for="Image" class="control-label"></label>
                        <input asp-for="Image" class="form-control" type="file" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check my-2">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                        </label>
                    </div>
                    <div class="form-group my-2">
                        <input type="submit" value="Ekle" class="btn btn-primary col-12" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bd-example-modal-lg" id="markaModal" tabindex="-1" role="dialog" aria-labelledby="myModal2" aria-hidden="true">
    <div class="modal-dialog modal-lg modal-dialog-centered modal-autoheight" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="myModal2">Marka Ekle</h5>
            </div>
            <div class="modal-body">
                <form asp-action="Create2" asp-controller="Brands" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group my-2">
                        <label class="control-label">Marka Adı</label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group my-2">
                        <label class="control-label">Marka Açıklaması</label>
                        <input asp-for="Description" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>

                    <div class="form-group form-check my2">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                        </label>
                    </div>
                    <div class="form-group my-2">
                        <input type="submit" value="Ekle" class="btn btn-primary col-12" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts{

    <script>
        function kEkle() {
            var myModal = new bootstrap.Modal(document.getElementById("kategoriModal"));
            myModal.show();
        };
        function bEkle() {
            var myModal2 = new bootstrap.Modal(document.getElementById("markaModal"));
            myModal2.show();
        };
    </script>
}